[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
paho-mqtt = "*"
onnx = "*"
onnxruntime = "*"
influxdb-client = {extras = ["ciso"], version = "*"}
line-protocol-parser = "*"
pika = "*"
pandas = "*"

[dev-packages]
autopep8 = "*"
jupyter = "*"
torch = "*"
pandas = "*"
matplotlib = "*"

[requires]
python_version = "3.9"
