[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
influxdb-client = {extras = ["ciso"], version = "*"}
update = "*"
pandas = "*"
requests = "*"
numpy = "*"
torch = "*"
scipy = "*"
scikit-learn ="*"

[dev-packages]
autopep8 = "*"
matplotlib = "*"

[requires]
python_version = "3.9"
