__pycache__
*.pyc
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.env
docker-volumes/

cnc/fähigkeitsindikatoren_main/data/
cnc/CSV_SDMflex/
components/offline_segmentation_alt/
components/offline_segmentation_pipenv/

components/offline_segmentation/app/CSV_SDMflex/
components/offline_segmentation/app/data/
data/
components/offline_segmentation/command_to_copy_output.txt
components/preprocessor_alt
components/preprocessor/app/CSV_SDMflex/
