[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
numpy = "*"
onnxruntime = "*"
pandas = "*"
matplotlib = "*"
onnx = "*"
scikit-learn = "*"
seaborn = "*"
arff2pandas = "*"
requests = "*"
torch = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
