[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
torch = "*"
torchvision = "*"
paho-mqtt = "*"
onnx = "*"
onnxruntime = "*"
influxdb-client = {extras = ["ciso"], version = "*"}

[dev-packages]
autopep8 = "*"
jupyter = "*"
matplotlib = "*"
pandas = "*"
snakeviz = "*"

[requires]
python_version = "3.9"
