[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
paho-mqtt = "*"
onnx = "*"
onnxruntime = "*"
influxdb-client = {extras = ["ciso"], version = "*"}
line-protocol-parser = "*"
mldeploy = {path = "./../custom_packages/dist/mldeploy-0.0.1-py3-none-any.whl"}
pika = "*"
pandas = "*"

[dev-packages]
autopep8 = "*"
jupyter = "*"

[requires]
python_version = "3.9"
